/*Clear all*/
*{
	margin: 0;
	padding: 0;
	font-family: Times new roman, Trebuchet MS, serif, sans-serif;
}

a{
	text-decoration: none;
}

body{
	background: rgb(220,220,220);
}

/*Index CSS properties*/
.black{
	color: black;
}

.titleSize{
	font-size: 3em;
}

.ConnectionForm{
	border: 7px solid rgb(0, 0, 0);
	border-radius: 10px;
	height: 50%;
	width: 270px;
	margin: 47px auto;
	padding: 8% 11%;
	background: white;
}

.textAlignCenter{
	text-align: center;
}

.fontSize13em{
	font-size: 1.3em;
}

.fontSize18em{
	font-size: 1.8em;
}

.margin6{
	margin: 6px 0;
}

/*Sign up CSS properties*/
.fontSize14em{
	font-size: 1.4em;
}

/*Schools CSS properties (connection.php)*/
.formSchools{
	border: 7px solid #000;
	border-radius: 10px;
	margin: 47px auto;
	padding: 1% 9%;
	background: #FFF none repeat scroll 0% 0%;
	width: 300px;
}

.fontSize11em{
	font-size: 1.1em;
}

.DoubleLine{
	margin: 2px 0;
}

.tableTD{
	border: solid 0.01em black;
	padding: 2px 14px;
}